[Unit]
Description=UniClOGS Live Telemetry & Request API gunicorn daemon
Requires=uniclogs-ultra.socket
After=network.target

[Service]
Type=notify
User=uniclogs-ultra
Group=uniclogs-ultra
RuntimeDirectory=gunicorn
ExecStart=/usr/bin/gunicorn ultra.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
